# ETL Python 


- ETL 

E - Extracción de datos de BD SQL Server  a  Python 

T - Transformación de datos con Python 

L - Carga de datos a BD Postgresql coon python

# Importar Librerias

In [1]:
 # Librerias conexión a BD  
import pyodbc  # Conexión a BD SQL Server 
    
    
    
    
# Libreria para manipulación de datos     
import pandas as pd

# E - Extracción de datos

In [2]:

#### Conexion con la base de datos SQL Server 

server = '******'
database = '*****'
username = '*****'
password = '*****'

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=' + server + ';DATABASE=' + database + ';UID=' + username + ';PWD=' + password)


cursor = conn.cursor()

print("Conexión existosa......")

Conexión existosa......

###  Consulta tabla SQL server

In [3]:
nombre_de_la_tabla = '[Norte].[dbo].[Empleados]'  # Asegúrate de que esta variable contenga el nombre correcto de la tabla

query = f'SELECT * FROM {nombre_de_la_tabla}'  # Utiliza f-strings para incluir la variable en la consulta


cursor.execute(query)
print('Conexion existosa_2')

Conexion existosa_2

In [5]:
df = pd.read_sql_query(query, conn)    

df

,IdEmpleado,Apellidos,Nombres,Cargo,TituloCortesia,FCumpleanos,FContrato,Direccion,Ciudad,Region,Pais,TelCasa,Extension,Foto,Notas,Reporta_A,RutaFoto
0,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08 00:00:00.000,1992-05-01 00:00:00.000,507 - 20th Ave. E.\r\nApt. 2A,Seattle,WA,USA,(206)555-9857,5467,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,1952-02-19 00:00:00.000,1992-08-14 00:00:00.000,908 W. Capital Way,Tacoma,WA,USA,(206)555-9482,3457,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
2,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30 00:00:00.000,1992-04-01 00:00:00.000,722 Moss Bay Blvd.,Kirkland,WA,USA,(206)555-3412,3355,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19 00:00:00.000,1993-05-03 00:00:00.000,4110 Old Redmond Rd.,Redmond,WA,USA,(206)555-8122,5176,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04 00:00:00.000,1993-10-17 00:00:00.000,14 Garrett Hill,London,None,UK,(071)555-4848,3453,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp
5,6,Suyama,Michael,Sales Representative,Mr.,1963-07-02 00:00:00.000,1993-10-17 00:00:00.000,Coventry House\r\nMiner Rd.,London,None,UK,(071)555-7773,428,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Michael is a graduate of Sussex University (MA...,5.0,http://accweb/emmployees/davolio.bmp
6,7,King,Robert,Sales Representative,Mr.,1960-05-29 00:00:00.000,1994-01-02 00:00:00.000,Edgeham Hollow\r\nWinchester Way,London,None,UK,(071)555-5598,465,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Robert King served in the Peace Corps and trav...,5.0,http://accweb/emmployees/davolio.bmp
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1958-01-09 00:00:00.000,1994-03-05 00:00:00.000,4726 - 11th Ave. N.E.,Seattle,WA,USA,(206)555-1189,2344,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Laura received a BA in psychology from the Uni...,2.0,http://accweb/emmployees/davolio.bmp
8,9,Dodsworth,Anne,Sales Representative,Ms.,1966-01-27 00:00:00.000,1994-11-15 00:00:00.000,7 Houndstooth Rd.,London,None,UK,(071)555-4444,452,b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...,Anne has a BA degree in English from St. Lawre...,5.0,http://accweb/emmployees/davolio.bmp
9,16,DEED,DEED,Sales,Ms,1981-02-19 00:00:00.000,2013-01-01 00:00:00.000,cra,Tacoma,WA,USA,(200)555-4444,123,None,-,2.0,None
10,19,Perez,Pedro,Super,Mr.,2015-03-13 18:59:35.297,2015-03-13 18:59:35.297,CDC - UdeM,Medellín,Antioquia,Colombia,123 -125 369,1564,None,,NaN,None